# Project 4 -- Braxton Conley

**TA Help:** 

- N/A
    
**Collaboration:** 
    
- N/A

## Question 1

In [1]:
#Load in the library data.table for the fread function
library(data.table)
#Load the death records into the data frame using the fread function
myDF <- fread("/anvil/projects/tdm/data/death_records/DeathRecords.csv")
#Look at the head of the data frame to confirm column names
head(myDF)
#Using the tapply function getting the mean age of death based on sex
tapply(myDF$Age, myDF$Sex, mean)

  Id ResidentStatus Education1989Revision Education2003Revision
1 1  1              0                     2
2 2  1              0                     2
3 3  1              0                     7
4 4  1              0                     6
5 5  1              0                     3
6 6  1              0                     5
  EducationReportingFlag MonthOfDeath Sex AgeType Age AgeSubstitutionFlag ...
1 1                      1            M   1       87  0                   ...
2 1                      1            M   1       58  0                   ...
3 1                      1            F   1       75  0                   ...
4 1                      1            M   1       74  0                   ...
5 1                      1            M   1       64  0                   ...
6 1                      1            F   1       93  0                   ...
  CauseRecode39 NumberOfEntityAxisConditions NumberOfRecordAxisConditions Race
1 24            1                            1                            1
2 21            3                            3                            1
3 28            2                            2                            1
4 22            3                            3                            1
5 21            1                            1                            1
6 37            5                            5                            1
  BridgedRaceFlag RaceImputationFlag RaceRecode3 RaceRecode5 HispanicOrigin
1 0               0                  1           1           100
2 0               0                  1           1           100
3 0               0                  1           1           100
4 0               0                  1           1           100
5 0               0                  1           1           100
6 0               0                  1           1           100
  HispanicOriginRaceRecode
1 6
2 6
3 6
4 6
5 6
6 6

       F        M
76.67668 70.22786

This is very straightforward as a similar question to project 3. I load in the necessary library to use the fread function. Then I load the data into the dataframe. Then I am looking at the head of the dataframe to see the column names that will be used in the tapply function. I use the tapply function with age in the first argument and mean in the third argument because I want the mean age then in the second argument is the sex because I want average age based on sex.

## Question 2

In [2]:
#Loading the transaction data into the dataframe
myDF <- fread("/anvil/projects/tdm/data/8451/The_Complete_Journey_2_Master/5000_transactions.csv")
#Using the tapply function to get total spend per product
#Using sort function around tapply to sort by ascending
#Using tail function around sort with the parameter n=10 to get last 10 of the output
tail(sort(tapply(myDF$SPEND, myDF$PRODUCT_NUM, sum)),n=10)

    89415      8523   1344763   4889358     85201    766108     74424     85311
 50032.42  53845.65  58170.84  63823.61  65605.34  66085.00  75787.49 102928.59
  1367192      8511
111433.78 131399.78

This question requires a combination of previous functions learned. First I use the tapply function to get the total spend for each product number. Then I wrap tapply in the sort function to sort the output by ascending. The I wrap all that in tail with the argument n=10 to get an output of the 10 top product numbers based on spend for each.

## Question 3

In [3]:
#Loading the reviews data into the data frame
myDF <- fread("/anvil/projects/tdm/data/beer/reviews_sample.csv")
#Looking at the head to get column names
head(myDF, n=2)
#Using the tapply function to get average score per date
#Using sort function around tapply to sort by ascending
#Using tail function around sort with the parameter n=3 to get the 3 dates that the average score was 5
tail(sort(tapply(myDF$score, myDF$date, mean)),n=3)

  beer_id username     date
1 271781  bluejacket74 2017-03-17
2 125646  _dirty_      2017-12-21
  text
1 \302\240\302\240 750 ml bottle, 2016 vintage, bottle #304 of 360. Served in a DFH snifter, the beer pours dark brown/black with about an inch tan head that stuck around a little while. There's also a good amount of lacing. I like the aroma, the brew smells like dark fruit (raisin, plum), chocolate, roasted malt, and a bit of licorice. For the most part I think the taste is just like the aroma, but with some coffee flavor noticeable too. Mouthfeel/body is medium/full, it's creamy and coating with a moderate amount of carbonation. I think it's a good overall brew, worth picking up if you want a nice straight forward imperial stout. Here's hoping Four String brings this back in the future! $9.99 a bottle. \302\240
2 \302\240\302\240
  look smell taste feel overall score
1 4.0  4.0   4.0   4.25 4.0     4.03
2 4.5  4.5   4.5   4.50 4.5     4.50

2001-04-26 2001-06-18 2002-01-26
         5          5          5

This question is very similar to the previous one. I use the exact same combination of functions changing the tail function parameter from n=10 to n=3 because I am looking for 3 specific dates that have a rating of 5. The next thing I change is the arguments of the tapply function based on this new dataset and based on the fatct that I am looking for the mean score grouped by date. So I Score is the first argument, date the second and mean the third.

## Question 4

In [10]:
#Loading the election data into the data frame
myDF <- fread("/anvil/projects/tdm/data/election/itcont1980.txt", quote="")
#Using the names function to apply column names because the file does not come with them
names(myDF) <- c("CMTE_ID", "AMNDT_IND", "RPT_TP", "TRANSACTION_PGI", "IMAGE_NUM", "TRANSACTION_TP", "ENTITY_TP", "NAME", "CITY", "STATE", "ZIP_CODE", "EMPLOYER", "OCCUPATION", "TRANSACTION_DT", "TRANSACTION_AMT", "OTHER_ID", "TRAN_ID", "FILE_NUM", "MEMO_CD", "MEMO_TEXT", "SUB_ID")
#Using compination of paste, tapply, sort, and tail functions to out put top 20 city-state pairs
tail(sort(tapply(myDF$TRANSACTION_AMT , paste(myDF$CITY, myDF$STATE, sep=", "), sum)),n=21)

  NEW ORLEANS, LA    CINCINNATI, OH        DENVER, CO       MIDLAND, TX
           913896           1096983           1183471           1210584
   WASHINGTOM, DC     GREENWICH, CT         TULSA, OK         MIAMI, FL
          1300341           1340112           1341956           1541867
  SAN ANTONIO, TX      ST LOUIS, MO OKLAHOMA CITY, OK       ATLANTA, GA
          1583292           1639570           1751431           1892356
BEVERLY HILLS, CA SAN FRANCISCO, CA       CHICAGO, IL    WASHINGTON, DC
          2053148           2061441           3179470           4273606
  LOS ANGELES, CA        DALLAS, TX       HOUSTON, TX      NEW YORK, NY
          4569952           4748262           7606806          11345027
               ,
         17299729

For this question it is asked to get the top 20 city-state pairs for donations. First to get the city-state pair I used the paste function with the city column and the state column, then the comma seperator argument. The paste function goes inside the second argument of the tapply function because I want the donations grouped by city-state pairs. The first argument is transactions and the third is sum because I want the sum of transactions/donations. Then I wrap tapply in the sort function becayse I want to sort the output by ascending. Then all of that is wrapped in tail with the parameter of n=21 because I want top 20 and the top donation is blank with no city-state so I use 21. I tried na.rm=TRUE to omit the blank output but it didn't work and it should not because the paste argumenbt is not the one being operated on.

## Question 5

In [2]:
#Loading the flight data into the data frame
myDF <- fread("/anvil/projects/tdm/data/flights/subset/1990.csv")
#Using compination of paste, tapply, sort, and tail functions to output the worst 6 average departure delays day/month/year
tail(sort(tapply(myDF$DepDelay, paste(myDF$Month, myDF$DayofMonth, myDF$Year, sep="/"), mean, na.rm=TRUE)),n=6)

12/20/1990  2/15/1990  2/16/1990 12/28/1990 12/22/1990 12/21/1990
  27.34540   28.12302   36.19422   43.91443   45.22225   45.66178

This question uses the same function setup to acheive the goal with some key changes. The paste functions arguments are 1:month 2:day 3:year, with a / seperator to display a full date in MM/DD/YYYY form. The first arument of tapply is changed to departure delays column. Sum is changed to average because I want average departure delay. na.rm=TRUE is added so there are no na outputs. And the tail is now n=6 to output the 6 worst date along with average delay time.

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together – We are Purdue.